div {
    min-width: 64px;
    line-height: 32px;
    border-radius: 40px;
    border: 15px;
    padding: 16px;
    color: #FF9966;
    background: #CCCCFF;
    text-align: center;
    font-size: xx-large;
}
